:root{
    --text-color: rgb(187, 187, 187);
    --header-color: #2b3f50;
    --buttons-color: #15c0ee;
    --theme-color: #133843;
}

*,*::after,::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .4s ease-in-out;
}

header {
    height: 9vh;
}

.toggle-btn {
    font-size: 30px;
    color: var(--buttons-color);

}

.navbar-nav li {
    font-size: 15px;
    font-weight: 400;
}

.navbar-nav li a, .socials a {
    color: var(--text-color);
}

.logo {
    color: var(--buttons-color);
    font-size: 30px;
    font-weight: 600;
    border: 1px solid var(--buttons-color);
    animation: rotate 4s;
    animation-play-state: running;
}

.navbar-nav li a:hover {
    color: var(--buttons-color);
}

.socials li {
    color: var(--text-color);
    font-size: larger;
}

.socials li:hover {
    color: var(--buttons-color);
}

.home-page {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.7)),
        url(https://i.postimg.cc/bY1kMd7T/image.png);
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

a, a:hover {
    text-decoration: none;
}

li:hover {
    /* color: #000; */
    transition: .4s;
}

li.line {
    width: 2px;
    height: 40px;
}

/* home-page content */
.content-container {
    margin-left: 15%;
    /* border: 1px solid black; */
}

.content-container h1 {
    line-height: 6rem;
}

.small {
    font-size: 30px;
    margin-top: 50px;
}

.blue-text ,.name-surname::first-letter{
    color: var(--buttons-color);
}

.name-surname::first-letter{
    font-size: 10px;
}

.name-surname {
    font-size: 72px;
}

.home-buttons .contact-btn,
.home-buttons .download-btn {
    width: 170px;
    height: 38px;
    background: none;
}

.home-buttons .download-btn {
    background-color: var(--buttons-color);
    border: none;
}

.home-buttons .contact-btn {
    border: 2px solid var(--buttons-color);
    color: var(--buttons-color)
}

.home-buttons .contact-btn:hover {
    background-color: var(--buttons-color);
    border: none;
    color: #000;
}

.home-buttons .download-btn:hover {
    border: 2px solid var(--buttons-color);
    color: var(--buttons-color);
    background: none;
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }

    25% {
        transform: rotateY(360deg);
        scale: 1.2;
    }
    50% {
        transform: rotateY(0deg);
        scale: 0.2;
    }
    75% {
        scale: 1.4;
    }

    80% {
        transform: rotate(360deg);
        scale: 1;
        box-shadow: 0 0 50px 5px var(--buttons-color);
    }
}

@media screen and (max-width: 500px) {
    .content-container {
        margin: 0 auto;
        width: 90% !important;
        text-align: center;
        gap: 20px;
    }

    .small {
        font-size: 19px;
        margin-top: 20px;
    }

    .content-container h1 {
        line-height: 3rem;
    }
    
    .name-surname {
        font-size: 35px !important;
    }

    .about-text {
        text-align: center;
    }

    /* styling buttons */
    .home-buttons {
        width: 100%;
        align-items: center;
        font-size: small;
        gap:20px;
    }

    .download-btn, .contact-btn {
        width: 30% !important;
        border-radius: 5px;
    }
}




