:root {
    --text-color: rgb(187, 187, 187);
    --header-color: #2b3f50;
    --buttons-color: #15c0ee;
    --theme-color: #133843;
}

*,
*::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .4s ease-in-out;
}

body {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .7)),
        url(https://i.postimg.cc/bY1kMd7T/image.png);
    background-attachment: fixed;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

header {
    height: 9vh;
}

.navbar {
    z-index: 20000;
}

.toggle-btn {
    font-size: 30px;
    color: var(--buttons-color);
}

.navbar-nav li {
    font-size: 15px;
    font-weight: 400;
}

.navbar-nav li a,
.socials a {
    color: var(--text-color);
}

.logo {
    color: var(--buttons-color);
    font-size: 30px;
    font-weight: 600;
    border: 1px solid var(--buttons-color);
    animation: rotate 4s;
    -o-animation: rotate 4s;
    -ms-zoom-animation: rotate 4s;
    -moz-animation: rotate 4s;
    -webkit-animation: rotate 4s;
}

.navbar-nav li a:hover {
    color: var(--buttons-color);
}

.socials li {
    color: var(--text-color);
    font-size: larger;
}

.socials li:hover {
    color: var(--buttons-color);
}

.home-page {
    height: 100%;
    width: 100%;
}

a,
a:hover {
    text-decoration: none;
}

li:hover {
    transition: .4s;
}

li.line {
    width: 2px;
    height: 40px;
}

/* home-page content */
.content-container {
    margin-left: 15%;
    /* border: 1px solid black; */
}

.content-container h1 {
    line-height: 6rem;
}

.small {
    font-size: 30px;
    margin-top: 50px;
}

.blue-text,
.name-surname::first-letter {
    color: var(--buttons-color);
}

.name-surname::first-letter {
    font-size: 10px;
}

.name-surname {
    font-size: 72px;
    color: var(--buttons-color);
}

.home-buttons .contact-btn,
.home-buttons .download-btn {
    width: 170px;
    height: 38px;
    background: none;
}

.home-buttons .download-btn {
    background-color: var(--buttons-color);
    border: none;
}

.home-buttons .contact-btn {
    border: 2px solid var(--buttons-color);
    color: var(--buttons-color)
}

.home-buttons .contact-btn:hover {
    background-color: var(--buttons-color);
    border: none;
    color: #000;
}

.home-buttons .download-btn:hover {
    border: 2px solid var(--buttons-color);
    color: var(--buttons-color);
    background: none;
}

/* Styling the about section */
.about-container {
    background-color: rgba(255, 255, 255, .8);
    display: grid;
    grid-template: 10% 80% 10% / 0.4fr 2fr 5fr;
    width: 60%;
    height: 70%;
}

.img-container {
    grid-column: 2/ span 1;
    grid-row: 2/ span 1;
    position: relative;
    z-index: 1;
}

.img-container::after {
    content: '';
    height: 20%;
    width: 30%;
    background-color: var(--buttons-color);
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
}

.img-container::before {
    content: '';
    height: 20%;
    width: 30%;
    background-color: var(--buttons-color);
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}

.about-content {
    grid-column: 3/-1;
    grid-row: 2/3;
}

.contacts {
    font-size: smaller;
    margin-bottom: 1em;
}

.contact-item:hover i {
    color: var(--buttons-color);
    scale: 1.4;
}

/* resume section */
.resume-container {
    background-color: rgba(255, 255, 255, .8);
    width: 60%;
    height: 70%;
    position: relative;
}

.resume-subheading {
    color: black;
}

.resume-container h2 {
    color: var(--buttons-color);
    text-shadow: 0px 0px 2px #000;
}

.education-grid .blocks {
    position: relative;
}

.education-grid .blocks::after {
    content:'';
    height: 80%;
    background: var(--buttons-color);
    /* box-shadow: 0 0 2px 5px #000; */
    width: 5px;
    position: absolute;
    left: 15%;
}

.education-grid .blocks::before {
    content:'';
    height: 20px;
    top: 0%;
    background: var(--buttons-color);
    width: 20px;
    position: absolute;
    left: 13.15%;
    /* z-index: 1000; */
    border-radius: 50%;
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }

    25% {
        transform: rotateY(360deg);
    }

    50% {
        transform: rotateY(0deg);
    }

    75% {
        scale: 1.4;
    }

    80% {
        transform: rotate(360deg);
        scale: 1;
    }
}

@media screen and (max-width: 500px) {
    /* styling the home page */
    .navigation {
        background: rgba(0, 0, 0);
        width: 100% !important;
    }

    .content-container {
        margin: 0 auto;
        width: 90% !important;
        text-align: center;
        gap: 20px;
    }

    .small {
        font-size: 19px;
        margin-top: 20px;
    }

    .content-container h1 {
        line-height: 3rem;
    }

    .name-surname {
        font-size: 30px !important;
    }


    .about-text {
        padding: 0 3rem;
    }

    /* styling buttons */
    .home-buttons {
        width: 100%;
        align-items: center;
        font-size: small;
        gap: 5px;
    }

    .download-btn,
    .contact-btn {
        width: 30% !important;
        border-radius: 5px;
        margin: 0 5px;
    }

    /* styling the about page for smaller device widths */
    .about-container {
        display: flex;
        align-items: center;
        height: 75%;
        width: 80%;
        gap: 3rem;
        margin-top: 30%;
    }

    .about-content {
        width: 100%;
    }

    .img-container {
        width: 5em;
        height: 5em;
        border-radius: 50%;
        z-index: 0;
    }

    .img-container::before,
    .img-container::after {
        display: none;
    }

    .about-me-paragraph {
        font-size: 13px;
        width: 80%;
    }

    .interests {
        width: 100%;
    }

    .interests ul {
        font-size: smaller;
        list-style: none;
    }

    /* Styling the resume page for mobile devices */
    .resume-container {
        width: 80% !important;
        height: 75% !important;
        overflow-y: auto;
        padding: 20px 10px;
        gap: 15px;
        background-color: rgba(255, 255, 255,0);
        position: static;
    }

    .resume-subheading {
        color: #fff;
        font-size: smaller;
    }

    .resume-container h2 {
        color: var(--buttons-color);
        text-shadow: none;
        font-weight: 300;
    }

    .education-grid{
        gap: 20px;
    }

    .education-grid .blocks {
        font-size: 15px;
        background-color: rgba(255, 255, 255, 0.544);
        border-radius: 5px;
        padding: 20px 5px;
        position: static;
        margin-bottom: 20px;
    }

    .education-grid .blocks ul {
        position: relative;
        left: 0;
    }

    .education-grid .blocks ul li {
        list-style: none;
    }

    .blocks::after, .blocks::before{
        display:none;
    }
    
}